.container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.text {
  color: red;
}

.btn {
  cursor: pointer;
  border: 1px solid red;
  background: white;
  color: red;
  transition: all 0.31s ease;
}

.btn:hover {
  background: red;
  color: white;
}
