@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 5px 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 810px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.post__btns {
  display: flex;
  margin-left: 10px;
}

.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
